:root {
    --color-main: #4e2c1e;
    --color-accent: #fff;
    --background-color: #fff6ee;
    --color-text: #35190d;
    --background-footer: #8b694a;
    --submenu-fill: #d8af75;
    --border-color: #c7a865;
    --border-input: #b1b1b1;
    --table-header-fill: #814b04;
    --gradient-main: linear-gradient(
        0deg,
        rgba(119, 71, 11, 1) 0%,
        rgba(170, 114, 38, 1) 50%,
        rgba(227, 184, 124, 1) 100%
    );
    --gradient-accent: linear-gradient(
        0deg,
        rgba(255, 249, 224, 1) 0%,
        rgba(232, 196, 120, 1) 50%,
        rgba(255, 249, 224, 1) 100%
    );
    --gradient-text: linear-gradient(0deg, rgba(128, 68, 29, 1) 0%, rgba(27, 11, 5, 1) 100%);
}
