.menu, 
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__link {
    display: inline-block;
    width: 128px;
    height: 40px;
    background: var(--gradient-main);
    border-radius: 5px;
    border: 1px solid var(--color-main);
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in;
}

.menu__link:hover {
    background: var(--gradient-accent);
    cursor: pointer;
    color: var(--color-main);
}
